<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <style>
    * {
      box-sizing: border-box;
      font-family: Poppins, sans-serif;
    }

    body {
      padding: 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
      padding: 0;
    }

    .date {
      font-size: 10px;
      color: #73808d;
    }

    .title {
      font-size: 8px;
      font-weight: bold;
      color: #aaaaaa;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-bottom: 12px;
    }

    @page {
      size: 5.5in 8.5in;
    }

    .left-float {
      width: 70%;
      float: left;
      padding-right: 14px;
    }

    .right-float {
      width: 30%;
      float: right;
    }

    /* <--------<headerpart>------------>  */
    header {
      padding-bottom: 24px;
    }

    .header-text h1 {
      font-size: 24px;
      padding-bottom: 4px;
    }

    .header-text p {
      font-size: 18px;
    }

    /* <--------</headerpart>------------>  */

    /* <--------<bodypart>------------>  */

    /* <--------<left-float>------------>  */

    .experiences {
      padding-bottom: 16px;
    }

    .experiences h4 {
      font-size: 13px;
      font-weight: bold;
    }

    .experiences .org {
      font-size: 12px;
      padding: 4px 0;
    }

    .experiences .details {
      font-size: 13px;
      padding-top: 4px;
    }

    .experiences:last-child {
      padding-bottom: 24px;
    }

    .section-edu {
      padding-bottom: 24px;
    }

    .section-edu h4 {
      font-size: 13px;
      font-weight: bold;
    }

    .section-edu .college {
      font-size: 12px;
      padding: 4px 0;
    }

    .section-courses h4 {
      font-size: 13px;
      font-weight: bold;
    }

    .course-website {
      font-size: 12px;
      padding: 4px 0;
    }

    /* <--------</left-float>------------>  */

    /* <--------</bodypart>------------>  */

    /* <--------<right-float>------------>  */

    .contact-section div {
      font-size: 12px;
      color: #6a7581;
    }

    .contact-section span {
      padding-right: 4px;
    }

    .contact-section,
    .knowledge-section,
    .skill-section,
    .tool-section {
      padding-bottom: 16px;
    }

    .knowledge-section h5,
    .skill-section h5,
    .tool-section h5,
    .social-section h5 {
      font-size: 12px;
      color: #6a7581;
      padding-bottom: 8px;
      text-transform: capitalize;
    }

    .knowledge-section p,
    .skill-section p {
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 8px;
      color: white;
      background-color: #6a7581;
      max-width: max-content;
      padding: 4px 10px;
      border-radius: 12px;
    }

    .tool-section p {
      border: 0.5px dotted #6a7581;
      color: #6a7581;
      font-size: 12px;
      border-radius: 8px;
      padding: 10px;
    }

    .social-section div {
      border: 1px solid #6a7581;
      max-width: max-content;
      border-radius: 20px;
      font-size: 12px;
      color: #6a7581;
      padding: 4px 8px;
      margin-bottom: 8px;
    }

    .social-section span {
      padding-right: 4px;
    }

    .social-section div:last-child,
    .knowledge-section p:last-child,
    .skill-section p:last-child {
      margin-bottom: 0px;
    }

    /* <--------</right-float>------------>  */
  </style>

  <body>
    <header>
      <div class="header-text">
        <div class="user-info--name"><%= user.fullname %></div>

        <div class="user-info--role"><%= user.role %></div>
      </div>
    </header>

    <div class="body-section">
      <div class="left-float">
        <% if (user?.experiences?.length) { %>
        <div class="section-experience">
          <p class="title">
            Experience <% user.experiences.forEach( function(experience) { %>
            <%- include('experience', {experience: experience}) %> <% }) %>
          </p>
        </div>
        <%} %>

        <div class="section-edu">
          <% if (user?.education?.length) { %>
          <div class="education">
            <h1 class="title">education</h1>
            <% user.education.forEach( function(education) { %> <%-
            include('education', {education: education}) %> <% }) %>
          </div>
          <% } %>
        </div>

        <% if (user?.certifications?.length) { %>
          <div class="section-courses">
            <h1 class="title">Additional courses</h1>
            <% user.certifications.forEach( function(certification) { %> <%-
              include('certification', {certification: certification}) %> <% }) %>
          </div>
          <% } %>
      </div>

      <div class="right-float">
        <div class="contact-section">
          <div>
            <span><i class="bx bx-phone"></i></span> <%= user.phone %>
          </div>
          <div>
            <span><i class="bx bx-envelope"></i></span> <%= user.email %>
          </div>
          <% if (user.website) { %>
          <div>
            <span><i class="bx bx-link"></i></span> <%= user.website %>
          </div>
          <% } %>
        </div>

        <% if (user.skills?.industryKnowledge) { %>
        <div class="knowledge-section">
          <h5>Industry Knowledge</h5>
          <p>Product Design</p>
          <p>Debugging</p>
          <p>Wireframing</p>
          <p>User Experiences</p>
          <p><%= user.skills.industryKnowledge.join(', ')%></p>
        </div>
        <% } %> <% if (user.skills?.skillSection) { %>
        <div class="skill-section">
          <h5>Other Skills</h5>
          <p>HTML</p>
          <p>Css</p>
          <p>Javascript</p>
          <p>Node Js</p>
          <p>React Js</p>
          <p><%= user.skills.skillSection.join(' , ')%></p>
        </div>
        <% } %> <% if (user.skills?.knowledgeTools) { %>
        <div class="tool-section">
          <h5>tools</h5>
          <p>
            Figma, Sketch, Protopie, Framer, Invision, Abstract, Zeplin, Google
            Analytics, Amplitude
          </p>
          <p><%= user.skills.knowledgeTools.join(' , ')%></p>
        </div>
        <% } %>

        <div class="social-section">
          <h5>Socials</h5>
          <% if (user?.social?.length) { %> <% user.social.forEach(
          function(profile) { %> <%- include('socials', {profile: profile}) %>
          <% }) %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
