<%if (profile.profile=='linkedin' ) { %>
  <span class="header-links__Fspan"><span><i class='bx bxl-linkedin'></i></span><a href=<%=profile.url%>><%=profile.profile%></a></span>
<% } %>
<%if (profile.profile=='instagram' ) { %>
  <span class="header-links__Fspan"><span><i class='bx bxl-instagram'></i></span><a href=<%=profile.url%>><%=profile.profile%></a></span>
<% } %>
<%if (profile.profile=='github' ) { %>
  <span class="header-links__Fspan"><span><i class='bx bxl-github'></i></span><a href=<%=profile.url%>><%=profile.profile%></a></span>
<% } %>
<%if (profile.profile=='bxl-facebook' ) { %>
  <span class="header-links__Fspan"><span><i class='bx bxl-facebook'></i></span><a href=<%=profile.url%>><%=profile.profile%></a></span>
<% } %>